// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

nav {
  .navbar-right > li > p {
    color: #777;
    padding: 15px;
    margin: 0;
    line-height: 20px;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
